body {
  font-family: 'Roboto Condensed', sans-serif;
}

#canvas, .image-output { display: none; }

h2.title { margin-bottom: 4rem; display: none; }

body .vibrant-output.hide { 
  display: none;
}
body .ct-output.hide { 
  display: none;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
  padding: 0 1rem;
  font-size: 2rem;
	transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	background-color: #a5dc86;
	box-shadow: none;
}


.sourceImg {
  width: 100%;
}

.output-wrapper {
  width: 100%;
}

ul.colorMatrix {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 0;
}

ul.domanantSingle {
  top: initial;
  bottom: -4rem;
  right: -4rem;
  text-align: right;
}

ul.colorMatrix li:before {
  content: ' ';
  display:inline-block;
}
ul.colorMatrix li {
  width: 5rem;
  height: 5rem;
}

ul.domanantSingle li {
  width: 8rem;
  height: 8rem;
}

.content-wrapper {
  margin: 2rem;
  text-align: center;
}

.colorPicker {
  display: inline-block;
}



.screenshot-image {
  background: white;
}

.display-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2rem auto 0;
  position: relative;
}

.display-item {
  position: relative;
  flex: 1;
}

video {
  background: rgba(0, 0, 0, 0.2);
}

.controls {
  position: absolute;
  right: 20px;
  top: 20px;
  display: flex;
}

.controls > button {
  width: 45px;
  height: 45px;
  text-align: center;
  border-radius: 100%;
  margin: 0 6px;
  background: transparent;
}

.controls > button:hover svg {
  color: white !important;
}

@media (min-width: 300px) and (max-width: 800px) {
  
.display-wrapper {
  flex-direction: column;
}

.display-item {
  flex: 0 0 100%;
}

ul.colorMatrix {
  flex-direction: row;
}

  .controls {
      flex-direction: column;
  }

  .controls button {
      margin: 5px 0 !important;
  }
}

.controls > button > svg {
  height: 20px;
  width: 18px;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

.controls button:nth-child(1) {
  border: 2px solid #D2002E;
}

.controls button:nth-child(1) svg {
  color: #D2002E;
}

.controls button:nth-child(2) {
  border: 2px solid #008496;
}

.controls button:nth-child(2) svg {
  color: #008496;
}

.controls button:nth-child(3) {
  border: 2px solid #00B541;
}

.controls button:nth-child(3) svg {
  color: #00B541;
}

.controls > button {
  width: 45px;
  height: 45px;
  text-align: center;
  border-radius: 100%;
  margin: 0 6px;
  background: transparent;
}

.controls > button:hover svg {
  color: white;
}